/*my css styles*/

.ltgreen{background-color: honeydew; }
.ltblue{background-color: #67BCDB;}
.antique{background-color: MintCream;}
.pink{background-color: pink;}
.lav{background-color: PaleTurquoise; }
.ltyellow{background-color: lightyellow;}
.lav:hover{
  background-color: white;
}




#header {
  background: #bada55;
  color: white;
  font-family: Droid Sans;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  width:100%;
  box-sizing:border-box;
  visibility: hidden;
}

p {
  font-size: 30px;
  font-family: 'Graduate', cursive;
}


#wrapper {
  height:10000px;
  margin: 0 auto;
  position:relative;
  background-color: honeydew;
}

a {
  color:black;
  font-weight: bold;
}

a:hover{
  color:black;

}

h1{
  padding-top: 200px;
  padding-left: 300px;
  font-family: 'Candal', sans-serif;
  font-size: 6em;
  color:white;
}

.letter {
    color:black;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    z-index: 100;
}

#letter2{
  color:black;
  text-align: center;
  position:absolute;
  z-index: 100;
  font-size: 2em;
  font-family: 'Candal', sans-serif;
  padding-top: 10em;
  padding-left: 15em;

}

#two{
  visibility: hidden;
}

#goup{
  visibility: hidden;
}

#goup2{
  visibility: hidden;
}

#goup3{
  visibility: hidden;
}

#goup4{
  visibility: hidden;
}

#goup7{
  visibility: hidden;
}

#goup8{
  visibility: hidden;
}

#goup10{
  visibility: hidden;
}




.tree{
  position:relative;
  z-index: 10;

}

.design{
font-size: 100px;

}

.design2{

  padding-top: 40px;

}

.design3{
  font-size: 3em;

}


#bar2{
  position: fixed;
   width: 80px;
   height: 700px;
   top:0px;
   bottom: 0px;
   margin-left: 1300px;

}


h2 {
  font-family: 'Raleway', sans-serif;
}

.tall_332{
  height: 650px;
	width: 100%;
	position: relative;
  padding:5px;
  text-align: center;
}

.tall_85{
  height: auto;
  padding: 5px;
  text-align: center;

}

.tall_405{
  height: 600px;
  padding: 10px;

}

.waves1{
  position: absolute;
  width: 99%;
  height: 680px;
  z-index: 50;
  background-size: 100px 50px;
  background-image:
  radial-gradient(circle at 50% 100%, MintCream 10%, SkyBlue 11%, SkyBlue 23%, MintCream 24%, MintCream 30%, PowderBlue 31%, PowderBlue 43%, MintCream 44%, MintCream 50%, PaleTurquoise 51%, PaleTurquoise 63%, MintCream 64%, MintCream 71%, transparent 71%, transparent);
  animation: waves20 3s ease-in-out infinite;
}


@keyframes waves20 {
  0% {left: 5px}
  50% {left: -5px}
  100% {left: 5px}
}




/* cloud animation for water cycle */

#animation {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    visibility: hidden;

}

.cloud {
    position:absolute;
    transform: scale( 0.65 );
    top: 50%;
    left: 50%;


}

.cloud div {
    width: 200px;
    height: 200px;
    background-color: rgb(145, 148, 153);
    border-radius: 100px;
    position: absolute;
}

.cloud div:nth-of-type(1){
	animation: poof 5s ease-in-out -1s infinite alternate none;

    margin-top: -100px;
    margin-left: -100px;
}

.cloud div:nth-of-type(2){
	animation: poof 5s ease-in-out -2s infinite alternate none;

    margin-top: -90px;
    margin-left: -240px;
}

.cloud div:nth-of-type(3){
	animation: poof 5s ease-in-out -3s infinite alternate none;

    margin-top: -150px;
    margin-left: -180px;
}

.cloud div:nth-of-type(4){
    animation: poof 5s ease-in-out -4s infinite alternate none;

    margin-top: -170px;
    margin-left: -60px;
}

.cloud div:nth-of-type(5){
    animation: poof 5s ease-in-out -5s infinite alternate none;

    margin-top: -90px;
    margin-left: -20px;
}


@keyframes poof {
	100% { transform: translate( -4px , -2px );}
	93% { transform: translate( 10px , 4px );}
	82% { transform: translate( -6px , -3px );}
	74% { transform: translate( 10px , 8px );}
	61% { transform: translate( -8px , -2px );}
	48% { transform: translate( 10px , -4px );}
	36% { transform: translate( -6px , 4px );}
	25% { transform: translate( 10px , 0px );}
	15% { transform: translate( -5px , -3px );}
	8% { transform: translate( 10px , 2px );}
	0% { transform: translate( -10px , 4px );}
}



.drops {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -20px;

}

.drops div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(233,234,245,1);
    margin-top: -5px;
    margin-left: -5px;
}

.drops div:before {
    content: "";
    border-bottom: 20px solid skyblue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    margin-top: -16px;
}

.drops div:nth-of-type(1){
    margin-left: -100px;
    animation: drip 1s ease-in -0.0s infinite normal none;
	-webkit-animation: drip 1s ease-in -0.0s infinite normal none;
}

.drops div:nth-of-type(2){
    margin-left: 100px;
    animation: drip 1.1s ease-in -0.1s infinite normal none;
	-webkit-animation: drip 1.1s ease-in -0.1s infinite normal none;
}

.drops div:nth-of-type(3){
    margin-left: -75px;
    animation: drip 1s ease-in -0.2s infinite normal none;
	-webkit-animation: drip 1s ease-in -0.2s infinite normal none;
}

.drops div:nth-of-type(4){
    margin-left: 60px;
    animation: drip 1.2s ease-in -0.3s infinite normal none;
	-webkit-animation: drip 1.2s ease-in -0.3s infinite normal none;
}

.drops div:nth-of-type(5){
    margin-left: 30px;
    animation: drip 1s ease-in -0.4s infinite normal none;
	-webkit-animation: drip 1s ease-in -0.4s infinite normal none;
}

.drops div:nth-of-type(6){
    margin-left: -20px;
    animation: drip 1.3s ease-in -0.5s infinite normal none;
	-webkit-animation: drip 1.3s ease-in -0.5s infinite normal none;
}

.drops div:nth-of-type(7){
    margin-left: 10px;
    animation: drip 1s ease-in -0.6s infinite normal none;
	-webkit-animation: drip 1s ease-in -0.6s infinite normal none;
}

.drops div:nth-of-type(8){
    margin-left: -40px;
    animation: drip 1.2s ease-in -0.7s infinite normal none;
	-webkit-animation: drip 1.2s ease-in -0.7s infinite normal none;
}

.drops div:nth-of-type(9){
    margin-left: 50px;
    animation: drip 1s ease-in -0.8s infinite normal none;
	-webkit-animation: drip 1s ease-in -0.8s infinite normal none;
}

.drops div:nth-of-type(10){
    margin-left: -65px;
    animation: drip 1.1s ease-in -0.9s infinite normal none;
	-webkit-animation: drip 1.1s ease-in -0.9s infinite normal none;
}

@keyframes drip {
	100% { -webkit-transform: translate( 0px , 1000px );}
	0% { -webkit-transform: translate( 0px , 0px );}
}

@-webkit-keyframes drip {
	100% { -webkit-transform: translate( 0px , 1000px );}
	0% { -webkit-transform: translate( 0px , 0px );}
}

/* paragraph one down */

#paragrahone_down {
  margin-top: 100px;
  visibility: hidden;

}

#p2 {
  visibility: hidden;
}



#arrow{

  height:200px;

}





/*water*/

#washer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 10px solid #ccc;
  visibility: hidden;
  overflow: hidden;
}


.water {
    position: relative;
    width: 100%;
    height: 100%;
  }
    .water > .wave {
      position: absolute;
      bottom: 0;
      float: left;
      width: 5%;
      height: 200px;
      background: rgba(0,207,238,0.5);
      -webkit-animation: waves 2s ease-in-out alternate infinite;
      animation: waves 2s ease-in-out alternate infinite;
    }
    .water > .wave.one {
      left: 0;
    }
    .water > .wave.two {
      left: 5%;
      -webkit-animation-delay: .1s;
      animation-delay: .1s;
    }
    .water > .wave.three {
      left: 10%;
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    .water > .wave.four {
      left: 15%;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
    .water > .wave.five {
      left: 20%;
      -webkit-animation-delay: .4s;
      animation-delay: .4s;
    }
    .water > .wave.six {
      left: 25%;
      -webkit-animation-delay: .5s;
      animation-delay: .5s;
    }
    .water > .wave.seven {
      left: 30%;
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
    }
    .water > .wave.eight {
      left: 35%;
      -webkit-animation-delay: .7s;
      animation-delay: .7s;
    }
    .water > .wave.nine {
      left: 40%;
      -webkit-animation-delay: .8s;
      animation-delay: .8s;
    }
    .water > .wave.ten {
      left: 45%;
      -webkit-animation-delay: .9s;
      animation-delay: .9s;
    }
    .water > .wave.elleven {
      left: 50%;
      -webkit-animation-delay: .9s;
      animation-delay: .9s;
    }
    .water > .wave.twelve {
      left: 55%;
      -webkit-animation-delay: .8s;
      animation-delay: .8s;
    }
    .water > .wave.thirteen {
      left: 60%;
      -webkit-animation-delay: .7s;
      animation-delay: .7s;
    }
    .water > .wave.fourteen {
      left: 65%;
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
    }
    .water > .wave.fifthteen {
      left: 70%;
      -webkit-animation-delay: .5s;
      animation-delay: .5s;
    }
    .water > .wave.sixteen {
      left: 75%;
      -webkit-animation-delay: .4s;
      animation-delay: .4s;
    }
    .water > .wave.seventeen {
      left: 80%;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
    .water > .wave.eightteen {
      left: 85%;
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    .water > .wave.nineteen {
      left: 90%;
      -webkit-animation-delay: .1s;
      animation-delay: .1s;
    }
    .water > .wave.twenty {
      left: 95%;
    }
  .water > .bubble {
      position: absolute;
      width: 15px;
      height: 15px;
      background: rgba(255,255,255,0.1);
      border-radius: 50%;
      box-shadow: inset 0 -5px 8px rgba(255,255,255,0.5);
      transform: rotate(30deg);
      -webkit-animation: bubbles 2s ease-in-out alternate infinite;
      animation: bubbles 2s ease-in-out alternate infinite;
    }
    .water > .bubble.one {
      top: 85%;
      left: 10%;
    }
    .water > .bubble.two {
      top: 78%;
      left: 20%;
    }
    .water > .bubble.three {
      top: 75%;
      left: 30%;
    }
    .water > .bubble.four {
      top: 80%;
      left: 40%;
    }
    .water > .bubble.five {
      top: 82%;
      left: 50%;
    }
    .water > .bubble.six {
      top: 78%;
      left: 60%;
    }
    .water > .bubble.seven {
      top: 65%;
      left: 65%;
    }
    .water > .bubble.eight {
      top: 78%;
      left: 82%;
    }
    .water > .bubble.nine {
      top: 65%;
      left: 85%;
    }
    .water > .bubble.ten {
      top: 65%;
      left: 45%;
    }

@-webkit-keyframes waves {
	to { height: 120px; }
}
@keyframes waves {
	to { height: 120px; }
}
@-webkit-keyframes bubbles {
	to { top: 70%; }
}
@keyframes bubbles {
	to { top: 70%; }
}
